argon2-cffi
async-generator
attrs
backcall
bleach
certifi
cffi
chardet
click
cycler
decorator
defusedxml
entrypoints
Flask
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonify
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
kiwisolver
MarkupSafe
matplotlib
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
requests
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
terminado
testpath
threadpoolctl
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
zipp
gunicorn
